<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
		  <mapping class="org.rooman.student.entity.Course"/>
	   	  <mapping class="org.rooman.student.entity.Student"/>
    	  <mapping class="org.rooman.student.entity.Batch"/>
    	  <mapping class="org.rooman.student.entity.User"/>
      	  <mapping class="org.rooman.student.entity.Role"/>
      	  <mapping class="org.rooman.student.entity.Account"/> 
      	  <mapping class="org.rooman.student.entity.AssessmentFee"/> 
      	  <mapping class="org.rooman.student.entity.AssessmentResult"/>
      	  <mapping class="org.rooman.student.entity.GovtRemits"/>
      	  <mapping class="org.rooman.student.entity.Partner"/>
      	  <mapping class="org.rooman.student.entity.PartnerTransfer"/> 
      	  <mapping class="org.rooman.student.entity.RemitRequest"/> 
    </session-factory>

</hibernate-configuration>